.dashboard{
    display:flex;
    width:100%;
    min-height:100vh;
    overflow-x:hidden;
}

.main-content{
    flex:1;
    overflow-x:hidden;
}

.dashboard-content{
    padding:30px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(220px,1fr));
    gap:25px;
    margin-bottom:35px;
}