.stats-card{
    background:white;
    border-radius:18px;
    padding:28px;
    box-shadow:0 8px 25px rgba(0,0,0,.06);

    transition:
            transform .25s ease,
            box-shadow .25s ease;

    cursor:pointer;
}

.stats-card:hover{

    transform:translateY(-6px);

    box-shadow:0 18px 40px rgba(0,0,0,.12);

}

.top-line{

    height:5px;

}

.stats-card h3{

    padding:25px 25px 0;

    color:#374151;

    font-size:18px;

}

.stats-card h1{

    padding:15px 25px 5px;

    font-size:42px;

    color:#111827;

}

.stats-card p{

    padding:0 25px 25px;

    color:#6B7280;

}